<div class="">
  <h1>Olá, <%= @user.email %>!</h1>
  <h4>Conta: <%= @bank_account.account_number %></h4>
</div>
<%= link_to "Fazer Transação", new_bank_account_transaction_path(@bank_account.id), class: "btn btn-primary" %>
<%= link_to "Minhas Contas", bank_accounts_path(@bank_account), class: "btn btn-primary" %>
<div>
  <table  class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">
          Data da Transação
        </th>
        <th scope="col">
          Tipo de Transação
        </th>
        <th scope="col">
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      <% @bank_account.transactions.each do |t| %>
        <tr>
          <td>
            <%= distance_of_time_in_words(Time.now, t.created_at) %>
          </td>
          <td>
            <%# <%= t.transaction_type %>
          </td>
          <td>
            <%= number_to_currency(t.amount, unit: 'R$') %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>
        </th>
        <th>
          Saldo
        </th>
        <th>
          <%= number_to_currency(@bank_account.balance, unit: 'R$') %>
        </th>
      </tr>
    </tbody>
  </table>
</div>