<div class="container">
  <div class="my-card">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-4">
        <%= form_tag bank_account_transactions_path(@bank_account), method: :get do %>
          <%= date_field_tag :query,
            params[:query],
            as: :date
          %>
          <%= date_field_tag :query_2,
            params[:query_2],
            as: :date
          %>
          <%= submit_tag "Search", class: "button-9" %>
        <% end %>

      </div>
      <table  class="table table-striped table-bordered mt-3">
        <tbody>
          <% @transactions.reverse.each do |t| %>
            <tr>
              <td class="trans-date">
                <%= t.created_at.time.strftime("%d of %B, %Y") %> - <%= t.created_at.time.strftime("%I:%M %p") %>
              </td>
              <td class="trans-type">
                <% if t.transaction_type == 'Transfer Received'%>
                  <%= t.transaction_type %> by <%= t.account_sender %>
                <% elsif t.transaction_type == 'Transfer'%>
                  <%= t.transaction_type %> to <%= t.account_sender %>
                <% else %>
                  <%= t.transaction_type %>
                <% end %>
              </td>
              <td>
                <% if t.transaction_type == 'Deposit'%>
                  <%= number_to_currency(t.amount, unit: '+ R$') %>
                <% elsif t.transaction_type == 'Withdraw'%>
                  <%= number_to_currency(t.amount, unit: '- R$') %>
                <% elsif t.transaction_type == 'Transfer' %>
                  <%= number_to_currency(t.amount, unit: '- R$') %> + tax
                <% elsif t.transaction_type == 'Transfer Received' %>
                  <%= number_to_currency(t.amount, unit: '+ R$') %>  
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>